@model Souvenir

<div class="container">
    <div class="row">
        <div class="col-4">
            
            <div class="card text-center">
                <div class="card-header">
                    <h2>@Model.Name</h2>
                </div>

                <img src="@Model.Img" class="card-img" alt="@Model.Description">


                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <a href="@Url.Action("Update", "Home", new {id = Model.Id})" class="btn btn-primary">Modifica.</a>
                    }


                </div>
                <div class="card-footer text-body-secondary">
                    <p>
                        <strong>Prezzo:</strong>
                        @Model.Price &#8364;
                    </p>
                </div>
            </div>

            
  
            
        </div>
    </div>
</div>