@model Souvenir

<div class="container">
    <div class="row h-100 justify-content-center align-self-end">
        <div class="col-6">
            <div class="card text-center card_border">
                <div class="card-header">
                    <h2>@Model.Name</h2>
                </div>
                <img src="@Model.Img" class="card-img" alt="@Model.Description">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
                </div>
                <div class="card-footer text-body-secondary">
                    <p>
                        <strong>Prezzo:</strong>
                        @Model.Price &#8364;
                    </p>

                    <div class="d-flex align-items-center justify-content-around">
                        @if (User.IsInRole("ADMIN"))
                        {
                            <a href="@Url.Action("Update", "Home", new {id = Model.Id})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                    <polygon points="14 2 18 6 7 17 3 17 3 13 14 2" fill="none" stroke="#FFC26F"></polygon>
                                    <line x1="3" y1="22" x2="21" y2="22" stroke="#FFC26F"></line>
                                </svg>
                            </a>
                            <a href="@Url.Action("ConfirmDelete", "Home", new {id = Model.Id})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                    <polyline points="3 6 5 6 21 6" fill="none" stroke="#FFC26F"></polyline>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" fill="none" stroke="#FFC26F"></path>
                                    <line x1="10" y1="11" x2="10" y2="17" stroke="#FFC26F"></line>
                                    <line x1="14" y1="11" x2="14" y2="17" stroke="#FFC26F"></line>
                                </svg>
                            </a>
                        }
                        @if (User.IsInRole("USER"))
                        {
                            <a href="@Url.Action("ConfirmPurchase", "Home", new {id = Model.Id})">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#FFC26F">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                fill: none;
                                                stroke: #FFC26F;
                                                stroke-miterlimit: 10;
                                                stroke-width: 1.91px;
                                                }</style>
                                        </defs> <g id="cart"> <circle class="cls-1" cx="10.07" cy="20.59" r="1.91"></circle> <circle class="cls-1" cx="18.66" cy="20.59" r="1.91"></circle> <path class="cls-1" d="M.52,1.5H3.18a2.87,2.87,0,0,1,2.74,2L9.11,13.91H8.64A2.39,2.39,0,0,0,6.25,16.3h0a2.39,2.39,0,0,0,2.39,2.38h10"></path> <polyline class="cls-1" points="7.21 5.32 22.48 5.32 22.48 7.23 20.57 13.91 9.11 13.91"></polyline> </g>
                                    </g>
                                </svg>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>