    @model List<Souvenir>

<style>
    body {
        background-image: url('../img/adrianna-geo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* Altri stili per l'elemento di sfondo, ad esempio altezza e larghezza */
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
</style>

<!--
<section class="souvenir_bg">
-->
    <div class="container mt-5 justify-content-between align-content-between">
        <div class="row justify-content-center my-5">
            <div class="col-6 d-block text-center">
                <h1 class="card_text" style="color: #FFC26F;">I NOSTRI SOUVENIR</h1>
            </div>
        </div>

        <div class="row my-5 justify-content-center flex-wrap">
            @foreach (Souvenir souvenir in Model)
            {
                <div class="flex-column col-sm-6 col-md-4 justify-content-center mb-3">

                    <div class="card card_border h-100">
                        <img src="@souvenir.Img" class="card-img-top card_img" alt="Foto Souvenir">
                        <div class="card-body" style="color: #FFC26F;">
                            <h3 class="card-title">@souvenir.Name</h3>


                            <p class="card-text card_text text-center m-2">@souvenir.Price &#8364;</p>
                            <p class="card_text m-2 text-center">Disponibili : @souvenir.Quantity</p>
                        @if (User.IsInRole("ADMIN"))
                        {
                                if (souvenir.Quantity < 5 & souvenir.Quantity >= 2)
                            {
                                <h5 class="card_text m-2 text-warning">Prodotto quasi esaurito!</h5>
                                }
                                else if (souvenir.Quantity <= 1)
                            {
                                <h5 class="card_text m-2 text-danger">Ultimo Pezzo Rimasto!</h5>
                            }
                                                        
                        }

                            <div class="d-flex  justify-content-around">

                                <a href="@Url.Action("Details", "Home", new { id = souvenir.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFC26F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" fill="none"></path>
                                        <circle cx="12" cy="12" r="3" fill="none"></circle>
                                    </svg>
                                </a>

                                @if (User.IsInRole("ADMIN"))
                                {
                                    <a href="@Url.Action("Update", "Home", new {id = souvenir.Id})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                            <polygon points="14 2 18 6 7 17 3 17 3 13 14 2" fill="none" stroke="#FFC26F"></polygon>
                                            <line x1="3" y1="22" x2="21" y2="22" stroke="#FFC26F"></line>
                                        </svg>
                                    </a>
                                    <a href="@Url.Action("ConfirmDelete", "Home", new {id = souvenir.Id})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                            <polyline points="3 6 5 6 21 6" fill="none" stroke="#FFC26F"></polyline>
                                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" fill="none" stroke="#FFC26F"></path>
                                            <line x1="10" y1="11" x2="10" y2="17" stroke="#FFC26F"></line>
                                            <line x1="14" y1="11" x2="14" y2="17" stroke="#FFC26F"></line>
                                        </svg>
                                    </a>
                                    <a href="@Url.Action("ConfirmOrder", "Home", new {id = souvenir.Id})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="40" viewBox="0 0 120 40">
                                            <rect x="0" y="0" width="120" height="40" rx="4" ry="4" fill="#C38154" />
                                            <text x="50%" y="50%" text-anchor="middle" alignment-baseline="middle" fill="#FFC26F" font-family="Arial" font-size="14">Rifornisci</text>
                                        </svg>
                                    </a>
                                }
                                @if (User.IsInRole("USER"))
                                {
                                    <a href="@Url.Action("ConfirmPurchase", "Home", new {id = souvenir.Id})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFC26F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M2 6h2l2.8 10.5a2 2 0 0 0 2 1.5h8a2 2 0 0 0 2-1.5L20 6H2zm2 6h16" />
                                            <circle cx="7" cy="19" r="2" />
                                            <circle cx="17" cy="19" r="2" />
                                        </svg>
                                    </a>

                                }


                            </div>

                        </div>
                    </div>

                </div>
            }
            @if (User.IsInRole("ADMIN"))
            {
                <div class="row justify-content-center my-5">
                    <div class="col-6 text-center">
                        <a class="btn btn-dark" href="@Url.Action("Create", "Home")">
                            Inserisci un nuovo Souvenir
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
<!--
</section>
-->