@model List<Souvenir>

<div class="container mt-5 justify-content-between align-content-between">
    <div class="row justify-content-center my-5 ">
        <div class="col-6 d-block text-center ">
            <h1 class="card_text" >I NOSTRI SOUVENIR</h1>
        </div>
    </div>
    
    <div class="row my-5 justify-content-center">
        

           
                    @foreach (Souvenir souvenir in Model)
                    {
                        <div class="col-4 justify-content-center ">

                            <div class="card card_border" >
                                <img src="@souvenir.Img" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@souvenir.Name</h5>

                                    <p class="card-text card_text">@souvenir.Price</p>

                        <div class="d-flex align-items-center justify-content-center">

                                        <a href="@Url.Action("Details", "Home", new { id = souvenir.Id })" class="btn btn-light btn-outline-primary mx-2">Informations</a>

                                        @if (User.IsInRole("ADMIN"))
                                        {
                                            <a  href="@Url.Action("Update", "Home", new {id = souvenir.Id})">
                                                <button type="button" class="btn btn-light btn-outline-warning mx-2">Modifica</button>
                                            </a>
                                            <form asp-controller="Home" asp-action="Delete" asp-route-id="@souvenir.Id" method="post">
                                                @Html.AntiForgeryToken()
                                                
                                                    <button type="submit" class="btn btn-light btn-outline-danger mx-2">Elimina</button>
                                               
                                            </form>
                                        }
                                    </div>

                                </div>
                            </div>

                        </div>
                    }


        @if (User.IsInRole("ADMIN"))
        {
            <div class="row justify-content-center my-5">
                <div class="col-6 text-center">
                    <a class="btn btn-dark" href="@Url.Action("Create", "Home")">
                        Inserisci un nuovo Souvenir
                    </a>
                </div>
            </div>
        }
        
    </div>
</div>